<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div style="text-align: center;"><br/><br/>   
    <input class="btn btn-success" type="button" value="Print" (click)="convetToPDF()"/>
  </div>
 <pre>
 
  <div id="content">
    <div id="contentToConvert" >
     
     
          <div style="width:850px; height:1060px; padding:20px; text-align:center; background-image: url('/assets/d12.jpg'); background-repeat: no-repeat;
          background-size: 100% 100% " class="bg-light">
            <br/><br/><br/><br/>
                 <h1 style="font-size:44px; font-weight:bold ; font-family:Algerian ; color: #16d30f" class="text-danger" ><i>Certificate of Completion</i></h1>
                 <p style="font-size:35px" ><i>This is to certify that</i></p>
                 <p style="font-size:40px;font-family:Footlight MT Light" class="text-danger"><b>Pallavi Kanaki</b></p>
                 <p style="font-size:35px"><i>has completed the course</i></p>
                 <p style="font-size:40px;font-family:Footlight MT Light" class="text-danger"><b>Python</b></p>
                 <p style="font-size:35px" ><i>with score of </i> <b class="text-danger"  style="font-family:Footlight MT Light">99%</b></p> 
                 <p style="font-size:35px"><i>dated</i></p>
                 <p  style="font-size:35px;font-family:Footlight MT Light" class="text-danger"><b>10 jun 2020</b></p>
                
          </div>
          
      </div> 
    </div>

</pre>
</div>


