<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div style="text-align: center;"><br/><br/>   
    <input class="btn btn-success" type="button" value="Print" (click)="convetToPDF()"/>
  </div>
 <pre>
 
  <div id="content">
    <div id="contentToConvert" >
      <div style="width:900px; height:1100px; padding:20px; text-align:center; border: 10px solid #22c4da" class="bg-dark">
          <div style="width:850px; height:1000px; padding:20px; text-align:center; border: 10px solid #87e274  " class="bg-light">
                 <h1 style="font-size:50px; font-weight:bold ; font-family:Algerian" class="text-success bg-light" ><i>Certificate of Completion</i></h1>
                 <p style="font-size:35px" ><i>This is to certify that</i></p>
                 <p style="font-size:40px;font-family:Footlight MT Light" class="text-danger"><b>Pallavi Kanaki</b></p>
                 <p style="font-size:35px"><i>has completed the course</i></p>
                 <p style="font-size:40px;font-family:Footlight MT Light" class="text-danger"><b>Python</b></p>
                 <p style="font-size:35px"><i>with score of </i> <b class="text-danger"  style="font-family:Footlight MT Light">99%</b></p> 
                 <p style="font-size:35px"><i>dated</i></p>
                 <p  style="font-size:35px;font-family:Footlight MT Light" class="text-danger"><b>10 jun 2020</b></p>
          </div>
          </div>
      </div> 
    </div>

</pre>
</div>


